<div class="container">

    <div class="row py-4">
        <form id="buscaTopoInicial">
            <div class="col-lg-12">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Informe o que deseja pesquisar">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                </div>
            </div>
        </form>    
    </div>


    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <h5 class="card-header bg-dark text-white"><b>Memória RAM</b></h5>
                <div class="card-body">
                    <ul>
                        <li><a href="">DDR4</a></li>
                        <li><a href="">DDR3</a></li>
                        <li><a href="">Notebook</a></li>
                        <li><a href="">Servidor</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <h5 class="card-header bg-dark text-white"><b>Placas-mãe</b></h5>
                <div class="card-body">
                    <ul>
                        <li><a href="">AMD</a></li>
                        <li><a href="">Intel</a></li>
                        <li><a href="">Componentes</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <h5 class="card-header bg-dark text-white"><b>Processadores</b></h5>
                <div class="card-body">
                    <ul>
                        <li><a href="">AMD Ryzen</a></li>
                        <li><a href="">FX</a></li>
                        <li><a href="">Intel i5</a></li>
                        <li><a href="">Intel i9</a></li>
                        <li><a href="">Intel i7</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <h5 class="card-header bg-dark text-white"><b>Armazenamento</b></h5>
                <div class="card-body">
                    <ul>
                        <li><a href="">HDD</a></li>
                        <li><a href="">SSD</a></li>
                        <li><a href="">USB</a></li>
                        <li><a href="">Cabos e acessórios</a></li>
                        <li><a href="">SSD M2</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <h5 class="card-header bg-dark text-white"><b>Armazenamento</b></h5>
                <div class="card-body">
                    <ul>
                        <li><a href="">HDD</a></li>
                        <li><a href="">SSD</a></li>
                        <li><a href="">USB</a></li>
                        <li><a href="">Cabos e acessórios</a></li>
                        <li><a href="">SSD M2</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="adtooltip">patrocinado</div>
                <img src="/assets/img/banner.png" />
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <h5 class="card-header bg-dark text-white"><b>Redes</b></h5>
                <div class="card-body">
                    <ul>
                        <li><a href="">Cabeamento</a></li>
                        <li><a href="">Hub e Switch</a></li>
                        <li><a href="">Roteadores</a></li>
                        <li><a href="">Móvel - 3g e 4g</a></li>
                        <li><a href="">Ferramentas</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>