<nav class="navbar navbar-expand-lg bg-primary" color-on-scroll="500">
  <div class="container">
      <div class="navbar-translate">
          <a class="navbar-brand" [routerLink]="['/examples/inicial']">
              Página Inicial
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
          </button>
      </div>
      <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/pesquisa-de-precos']">
                    <i class="now-ui-icons ui-1_zoom-bold"></i>
                    <p>Pesquisa de Preços</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/publicidade']">
                  <i class="now-ui-icons sport_trophy"></i>
                  <p>Publicidade</p>
                </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/minha-conta']">
                <i class="now-ui-icons users_circle-08"></i>
                <p>Minha Conta</p>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/lista-de-compras']">
                <i class="now-ui-icons files_paper"></i>
                <p>Lista de Compras</p>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/termos-de-uso']">
                <i class="now-ui-icons files_single-copy-04"></i>
                <p>Termos de uso</p>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/contato']">
                <i class="now-ui-icons ui-1_email-85"></i>
                <p>Contato</p>
              </a>
            </li>
          </ul>
      </div>
  </div>
</nav>
