<div class="container">
    <div class="mx-auto col-md-4 mt-3">
        <form [formGroup]="form"> 
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="Informe seu e-mail" required>
            </div>
            <div class="form-group">
                <label for="senha">Senha</label>
                <input type="password" class="form-control" id="senha"  formControlName="senha" placeholder="Senha" required>
            </div>
            <div class="form-group">
                <a href="#" class="forgotpassword">Esqueci minha senha</a>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="logar()">Acessar</button>
            <div class="d-flex justify-content-center links">
                Ainda não tem conta ? <a href="usuario" class="ml-2">Cadastra-se</a>
            </div>
        </form>
    </div>
</div>