<div class="py-3">
  <div class="container text-center">
    <img src="assets/img/logo_bembuscado.png">
  </div>
</div>

<nav class="navbar navbar-expand-lg justify-content-md-center justify-content-start">
  <div class="container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mx-auto text-md-center text-left">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pesquisa de preços</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Publicidade</a>
      </li>
      <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Minha Conta
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Alterar perfil</a>
                <a class="dropdown-item" href="#">Meus anúncios</a>
                <a class="dropdown-item" href="#">Deslogar</a>
              </div>
            </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lista de preços</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Termos de uso</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contato</a>
      </li>

    </ul>
  </div>
</div>
</nav>